{% extends "base.html" %}

{% block title %}Questões{% endblock %}

{% block content %}
    <div class="d-flex text-center mt-4">
        <div class="col-questao">
            <h1 style="text-align: left">Programadas </h1>
            <hr>
            {% for exame in exames %}
                {% if now < exame.horario_inicio%}
                <ul>
                    <li>
                      <td><a href="">{{ exame.nome }}</a></td>
                    </li>
                </ul>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-questao">
            <h1 style="text-align: center">Abertas </h1>
            <hr>
            {% for exame in exames %}
                {% if now > exame.horario_inicio and now < exame.horario_fim%}
                    
                <ul>
                    <li>
                      <td><a href="{{ url_for('responde_exame_view', id=exame.id) }}">{{ exame.nome }}</a></td>
                    </li>   
                </ul>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-questao">
            <h1 style="text-align: center">Concluídas</h1>
            <hr>
            {% for exame in exames %}
                {% if now > exame.horario_fim %}
                <ul>
                    <li>
                      
                      <td><a href="">{{ exame.nome }}</a></td>
                      
                    </li>
                </ul>
                {% endif %}
            {% endfor %}
              </div>
    </div>

    

{% endblock %}
