<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.0-dist/css/bootstrap.min.css" />
</head>

<body style="background: #201b2c; color: white">
    <div class="d-flex text-center mt-4">
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    </div>
    <script src="/static/bootstrap-5.3.0-dist/js/bootstrap.min.js"></script>
</body>
</html>