{% extends "base.html" %}

{% block title %}Relatorio{% endblock %}

{% block content %}

<h2 class="text-center">Relatorio</h2>
<br>
<table class="table table-dark">
    <th>Aluno</th>
    {% for q in questoes %}
    <th>{{ q.enunciado }} ({{ q.peso }})</th>
    {% endfor %}
    <th>Nota</th>
    {% for r in respostas %}
    <tr>
        <td>{{ r.username }}</td>
        {% for u in r.respostas %}
        {% if u.acertou %}
        <td style="color: green;">{{ u.resposta_user }}</td>
        {% else %}
        <td style="color: red;">{{ u.resposta_user }}</td>
        {% endif %}
        {% endfor %}
        <td>{{ r.nota }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
