<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1 style="text-align: center">Home</h1>
    <hr />
    <div>
      <span
        >Esse foi um projeto desenvolvido por Theo,Matheus Lopes, Mateus de
        Paula e Oseias. <br />
        Simula um sistema para realização de provas. <br />
      </span>
      <a
        style="
          text-decoration: none;
          font-size: 5vh;
          color: green;
          margin-left: 65vh;
        "
        href="{{ url_for('login')}}"
        >Clique aqui para acessar o projeto!</a
      >
      <br />
    </div>
  </body>
</html>

<!-- pip install -r requirements.txt 
  flask db init 
  flask db migrate -m "init" 
  flask db upgrade 
  flask --app run run --debug
-->
