{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename="meu.css")}}"></link>
{% endblock %}


{% block content %}
  <div class="main-login">
    <div class="left-login">
      <h1 style="margin-left: 10vh;">Bem vindo<br /> ao sistema de realização de Exames.</h1>
      <img src="../static/imgLogin.svg" class="left-img-anm" alt="Animação StorySet" />
    </div>
    <div class="right-login">
      <div class="card-login">
        <h1>Login</h1>
        <form action="" method="post" >
            <div class="textfield">
              {{form.hidden_tag()}}
              {{form.username(class="textfield")}}
              {{form.password(class="textfield")}}
            </div>
            <div>
              {{form.submit(class="btn-login")}}
            </div>
        </form>
        <div>
          <br>
        <a href="{{ url_for('register')}}">Não possui conta? Cadastre-se!</a>
      </div>
      </div>
    </div>
  </div>


{% endblock %}