{% extends "base.html" %}

{% block title %}Professor{% endblock %}

{% block content %}
  <div>
    <h1 style="color: white; text-align: center">Olá, professor!</h1>
  </div>
  <hr>

  <div class="row text-center">
    <div class="col">
      <div class="bottom-links">
        <a class="btn btn-primary btn-lg" href="{{ url_for('questoes')  }}">Criar e ver questões</a>
      </div>
    </div>
    <div class="col">
      <div class="bottom-links">
        <a class="btn btn-primary btn-lg" href="{{ url_for('exames')  }}">Criar e ver exames</a>
      </div>
    </div>
  </div>

{% endblock %}
