<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criação de questão</title>
    <link rel="stylesheet" href="../static/questoes.css" />
    <link
      rel="stylesheet"
      href="../static/bootstrap-5.3.0-dist/css/bootstrap.min.css"
    />
  </head>
  <body style="background: #201b2c">
    <div class="d-flex text-center mt-4">
      <div class="col-questao">
        <h1 style="text-align: center">Múltipla escolha</h1>
        <hr />
        <div class="bottom-links mt-5">
          <a
            class="btn btn-sm btn-outline-secondary text-light"
            href="{{ url_for('cria_questaoME')}}"
            >Criar questão múltipla escolha</a
          >
        </div>
        <div>
          {% for questao in questoes %}
          <h3>{{ questao.enunciado }}</h3>
          <ul>
            {% for alternativa in questao.alternativas %}
            <li>{{ alternativa.texto }}</li>
            {% endfor %}
          </ul>
          {% endfor %}
        </div>
      </div>
      <div class="col-questao">
        <h1 style="text-align: center">Certo ou errado</h1>
        <hr />
        <div class="bottom-links mt-5">
          <a
            class="btn btn-sm btn-outline-secondary text-light"
            href="{{ url_for('cria_questaoCE')}}"
            >Criar questão certo ou errado</a
          >
        </div>
      </div>
      <div class="col-questao">
        <h1 style="text-align: center">Caixa aberta</h1>
        <hr />
        <div class="bottom-links mt-5">
          <a
            class="btn btn-sm btn-outline-secondary text-light"
            href="{{ url_for('cria_questaoCA')}}"
            >Criar questão de caixa aberta</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
