{% extends "base.html" %}

{% block title %}Questões{% endblock %}

{% block content %}

    <h2>Banco de questões</h2>
    <br>

    <a class="btn btn-sm btn-outline-secondary text-light" href="{{ url_for('add_questoes_view')}}">
        Criar questão
    </a>
    <hr>
    <div class="row">
        <div class="col">
            <h2 style="text-align: center">Múltipla escolha</h1>
            <table class="table table-dark">
                {% for q in questoes %}
                {% if q.tipo == 'ME' %}
                <tr>
                    <td> {{ q.enunciado }}</td>
                    <td> Ans: {% for alternativa in q.alternativas %}
                        {% if alternativa.correta %}
                          {{ alternativa.texto }}
                        {% endif %}
                      {% endfor %}</td>
                    <td>
                        <ul>
                            {% for a in q.alternativas %}
                            <li>
                                {{ a.texto }}
                            </li>
                            {% endfor %}
                        </ul>
                    
                    </td>
                    <td><a href="{{url_for('editQuestao', id = q.id)}}" class="btn btn-outline-primary">Edit/Delete</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <div class="col">
            <h2 style="text-align: center">Certo Errado</h1>
            <table class="table table-dark">
                {% for q in questoes %}
                {% if q.tipo == 'CE' %}
                <tr>
                    <td>{{ q.enunciado }}</td>
                    <td>{{ q.correta }}</td>
                    <td><a href="{{url_for('editQuestao', id = q.id)}}" class="btn btn-outline-primary">Edit/Delete</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <div class="col">
            <h2 style="text-align: center">Argumentativas</h1>
            <table class="table table-dark">
                {% for q in questoes %}
                {% if q.tipo == 'CA' %}
                <tr>
                    <td>{{ q.enunciado }}</td>
                    <td>{{ q.correta }}</td>
                    <td><a href="{{url_for('editQuestao', id = q.id)}}" class="btn btn-outline-primary">Edit/Delete</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

    <script src="/static/js/questoes_tipo.js"></script>
{% endblock %}
