<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criação de questão</title>
  </head>
  <body style="background: #201b2c">
    <div style="display: flex">
      <div style="color: white; flex-basis: 33.33%; background-color: red">
        Multipla escolha
      </div>
      <div style="color: white; flex-basis: 33.33%; background-color: green">
        Certo ou errado <br />
        <br />
      </div>
      <div style="color: white; flex-basis: 33.33%; background-color: blue">
        Questao de Caixa aberta
      </div>
    </div>
  </body>
</html>
