<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criação de questão</title>
    <link rel="stylesheet" href="../static/questoes.css" />
    <link
      rel="stylesheet"
      href="../static/bootstrap-5.3.0-dist/css/bootstrap.min.css"
    />
  </head>
  <body style="background: #201b2c">
    <div class="d-flex text-center mt-4">
      <div class="col-questao">
        <h1 style="text-align: center">Múltipla escolha</h1>
        <hr />
        <div class="bottom-links mt-5">
          <a
            class="btn btn-sm btn-outline-secondary text-light"
            href="{{ url_for('cria_questaoME')}}"
            >Criar questão múltipla escolha</a
          >
        </div>
        <table class="table ms-2 mt-5 table-hover table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Enunciado</th>
              <th scope="col">Alternativas</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for questao in questoes %}
            <tr>
              <td>{{ questao.id }}</td>
              <td>{{ questao.enunciado }}</td>
              <td>
                {% for alternativa in questao.alternativas %} {{
                alternativa.texto }} <br />{% endfor %}
              </td>
              <td>Editar e Excluir</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-questao">
        <h1 style="text-align: center">Certo ou errado</h1>
        <hr />
        <div class="bottom-links mt-5">
          <a
            class="btn btn-sm btn-outline-secondary text-light"
            href="{{ url_for('cria_questaoCE')}}"
            >Criar questão certo ou errado</a
          >
        </div>
        <table class="table ms-2 mt-5 table-hover table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Enunciado</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for questao in questoes_ce %}
            <tr>
              <td>{{ questao.id }}</td>
              <td>{{ questao.descricao }}</td>
              <td>Editar e Excluir</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-questao">
        <h1 style="text-align: center">Caixa aberta</h1>
        <hr />
        <div class="bottom-links mt-5">
          <a
            class="btn btn-sm btn-outline-secondary text-light"
            href="{{ url_for('cria_questaoCA')}}"
            >Criar questão de caixa aberta</a
          >
        </div>
        <table class="table ms-2 mt-5 table-hover table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Enunciado</th>
              <td>Editar e Excluir</td>
            </tr>
          </thead>
          <tbody>
            {% for questao in questoes_ca %}
            <tr>
              <td>{{ questao.id }}</td>
              <td>{{ questao.descricao }}</td>
              <td>Ações</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
