
</html>{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename="meu.css")}}"></link>
{% endblock %}


{% block content %}
  <div class="main-login">
    <div class="main-login">
      <div class="card-login">
        <h1>Registre-se!</h1>
        <form action="" method="post" novalidate>
            <div class="textfield">
              {{form.hidden_tag()}} 
              {{form.username(class="textfield")}}
              
                {% for error in form.username.errors %}
                  <li> <span style="color:red">{{error}}</span></li>
                {% endfor %}
              </ul>
              {{form.password(class="textfield")}}
              <ul>
                {% for error in form.password.errors %}
                  <li><span style="color: red">{{error}}</span></li>
                {% endfor %}
              </ul>
              {{form.confirm_password(class="textfield")}}
              {{form.email(class="textfield")}}
              {{form.professor(class="textfield")}}
            </div>
            <div>
              {{form.submit(class="btn-login")}}
            </div>
        </form>
        <div>
          <br>
        <a href="{{ url_for('login')}}">Já possui conta? Faça o login!</a>
      </div>
      </div>
    </div>
  </div>


{% endblock %}